
body {
    padding:0;
    margin:0;
    overflow:hidden;
	  height: 800px;
}
canvas {
    padding:0;
    margin:0;
}
div.btnbg {
    position:fixed;
    left:0;
    top:0;
    box-shadow: 0px 0px 15px #ccc;
}
div.btnbg:hover{
    text-shadow: 0px 0px 3px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}

/* 鎵撳瓧 */
.blink {
  animation: blink 0.5s infinite;
  animation-delay: 500ms;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.typing {
  display: flex;
  top: 10%;
  left: 4%;
  z-index: 999999 !important;
  position: fixed !important;
}

.header-sub-title,
h2 {
  font-weight: 600;
  font-size: 40px;
  /* color: #ff09b8; */
  color: rgb(255, 9, 184);
  padding-right: 0.1em;
  text-transform: uppercase;
}
